<div class="jumbotron text-center">
  <h1 class="display-3">{{{title}}}</h1>
  <p class="lead">VideoJS project for practice express skill</p>
  <a href="/videos/add" class="btn btn-dark btn-lg">Add Video</a>
</div>